html {
  scroll-behavior: smooth;
}

/* style templateBerandaLogin */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* style templateWebserviceLogin */
body div.loading {
  background: #fff center;
}

.layoutEdit {
  z-index: 5;
}

.choosed {
  background-color: #003c75;
}

.notchoose {
  background-color: #005490;
}

.list:hover {
  background-color: #FF8A00;
}

#utama {
  z-index: -1;
}

@media (max-width: 409px) {
  #divKosong {
    height: 65px;
  }
}

/* style templateWebserviceLogin */

/* style layoutDokumentasi */
#sidebarDok {
  z-index: 5;
}

@media (max-width: 460px) {

  #divKosong,
  #burgerDok {
    top: 4rem;
  }

  #sidebarDok img {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  #sidebarDok {
    margin-top: -2.8rem;
  }
}

.field-response {
  color: #8bc;
}

#menu1:hover,
#menu1+ul>li>div:hover,
#menu1+ul>li>ul>li:hover {
  background-color: rgb(1, 89, 152);
}

#menuDok>li:first-child:hover,
#menuDok>li>div:hover,
#menuDok>li>ul>li:hover,
#menuDok .activeSideDok {
  background-color: rgb(1, 89, 152);
}

.open-submenu {
  max-height: 65px;
}

.close-submenu {
  max-height: 0;
}

/* style layoutDokumentasi */

#nav ul li:hover>ul {
  max-height: 9em;
}

@media screen and (max-width: 640px) {
  #utama::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 25px;
    width: 100%;
    height: 100%;
    opacity: .15;
    background-image: url('/img/components/logo/logo_api.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

/* style editProfi */
.formEdit {
  background-color: #F9F9F9;
}

.layoutEdit {
  z-index: 5;
}

@media screen and (max-width: 1024px) {
  #pagePendidikan table tbody tr td {
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

@media screen and (max-width: 768px) {
  #pagePendidikan table {
    width: 670px;
  }
}

#pagePendidikan table tr td {
  padding-left: .5rem;
  padding-right: .5rem;
}

#pagePrestasi table tr td {
  padding-left: .5rem;
  padding-right: .5rem;
}

@media screen and (max-width: 640px) {
  #pagePrestasi table {
    width: 580px;
  }
}

@media screen and (max-width: 1024px) {
  #pagePrestasi table tbody tr td {
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

input[type=checkbox] {
  transform: scale(1.25);
}

/* style unggah berita */
#infoBerita~div {
  background-color: #6cf;
}

#infoBerita~div:before {
  position: absolute;
  top: -10px;
  content: "";
  right: 10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #6cf transparent;
}

/* style proyek WS */
.proyek+div {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 0px 3px 3px rgba(0, 0, 0, 0.06);
}